<form method="POST" action="/encrypt">
  <p>Enter Message: <input type="text" name="message"></p>
  <p>Enter Shift Factor: <input type="text" name="shift"></p>
  <input type="submit" value="Encrypt!">
</form>
